@import "src/components/style/css/bgmodal";

*{
  font-family: 'Roboto', serif ;
  font-size: 14px;
  margin:0;
  padding: 0;
}
html,body{
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #76d275;
  }
}